* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 229, 233) ;
 }

.Box{
    border: 3px coral solid;
    font-family: Arial, Helvetica, sans-serif;
}

#Menu{
    float: left;
    color: rgb(52, 41, 145);
    font-size: large;
}

#Content{
    color: rgb(14, 13, 13);
    font-size: medium;
}

@media only screen and (min-width: 901px)  {
    /* Desktop */
    #Menu{
        width: 35%;
    }

    #Content{
        width: calc((100% / 3) * 2 - 30px);
        float: right;
        position: relative;
        font-weight: 200;
    }

  }

@media screen and (min-width:501px) and (max-width:900px){
    /* tablets */
    .Box p{
        text-align: center;
        display: inline;
    }

    #Content{
        position: static;
        width: 100% ;
    }

    #Menu{
        text-align: center;
        position: static;
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    /* Celulares */ 
    .Box p{
        text-align: center;
    }

    #Content{
        position: static;
        width: 100% ;
    }

    #Menu{
        position: static;
        width: 100%;
    }
 }